/* Colors */

@property --color-blush {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff0f0;
}

@property --color-antique {
  syntax: "<color>";
  inherits: false;
  initial-value: #ffe8d0;
}

@property --color-tan {
  syntax: "<color>";
  inherits: false;
  initial-value: #d7b393;
}

@property --color-brown {
  syntax: "<color>";
  inherits: false;
  initial-value: #ac6b55;
}

@property --color-brown--light {
  syntax: "<color>";
  inherits: false;
  initial-value: #d2a48eff;
}

@property --color-brown--dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #895543;
}

@property --color-ebony {
  syntax: "<color>";
  inherits: false;
  initial-value: #5e604b;
}

@property --color-ebony--light {
  syntax: "<color>";
  inherits: false;
  initial-value: #7b7e63;
}

@property --color-ebony--dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #4e503f;
}

/* Semantic Colors */

@property --color-base {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff0f0;
}

@property --color-text {
  syntax: "<color>";
  inherits: false;
  initial-value: black;
}

@property --color-primary {
  syntax: "<color>";
  inherits: false;
  initial-value: #5e604b;
}

@property --color-secondary {
  syntax: "<color>";
  inherits: false;
  initial-value: #ac6b55;
}

@property --color-accent {
  syntax: "<color>";
  inherits: false;
  initial-value: #d7b393;
}
