@import url("preflight.css");
@import url("properties.css");

@import url("header.css");
@import url("hero.css");
@import url("sobre-mim.css");
@import url("servicos.css");
@import url("projetos.css");
@import url("avaliacoes.css");
@import url("footer.css");

body {
  background: var(--color-base);
  color: var(--color-text);

  overflow-x: clip;
  overflow-x: hidden;

  font-family:
    Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
  font-weight: normal;
  font-size: 130%;
}

*::selection {
  background-color: var(--color-accent);
}

a:focus,
a:hover,
button:focus,
button:hover {
  background: var(--color-accent);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;

  margin-bottom: 1rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;

  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.container {
  width: min(90ch, 100dvw - 4ch);
  margin: 0 auto;
}

.container--wide {
  width: min(80ch, 100dvw - 4ch);
  margin: 0 auto;
}
